Facebook==0.0
Jinja2==2.7.3
Logbook==0.7.0
Mako==1.0.0
MarkupSafe==0.23
-e git+https://github.com/getnikola/nikola@53eabce25c9a687ff18e8b1e339c9a605d4e503e#egg=Nikola-master
Pillow==2.4.0
PyRSS2Gen==1.1
Pygments==1.6
Unidecode==0.04.16
Yapsy==1.10.423
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
blinker==1.3
colorama==0.3.1
configparser==3.3.0r2
docutils==0.11
doit==0.25.0
fbconsole==0.3
ipdb==0.8
ipython==2.1.0
livereload==2.2.0
lxml==3.3.5
micawber==0.3.0
natsort==3.2.0
poster==0.8.1
pyinotify==0.9.4
python-dateutil==2.2
pytz==2014.4
requests==2.3.0
six==1.7.2
tornado==3.2.2
webassets==0.9
wsgiref==0.1.2
