## -*- coding: utf-8 -*-
<div class="alert alert-success">
  <strong>Novedades:</strong> actualmente estoy impulsando el proyecto <a target="_blank" href="http://argentinaenpython.com.ar/">Argentina en Python</a>, desde aquí (<a target="_blank" href="http://argentinaenpython.com.ar/donde-esta-humitos/">ver mapa</a>)
</div>

<hr />
