## -*- coding: utf-8 -*-
<div class="alert alert-success">
  <strong>Novedades:</strong> actualmente estoy impulsando el proyecto <a target="_blank" href="https://argentinaenpython.com/">Argentina en Python</a>, desde aquí (<a target="_blank" href="https://argentinaenpython.com/donde-esta-humitos/">ver mapa</a>)
</div>

<hr />
