## -*- coding: utf-8 -*-
<div id="map-container" class="section">
  <h2>¿Dónde está <em>humitos</em>? <small><sup><a href="/pages/donde-esta-humitos/">[+ info]</a></sup></small></h2>
  <div id="map"></div>
  <%include file="news.tmpl"/>
</div>
<hr />
