<div class="alert alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Novedades</strong> del proyecto "Argentina en Python". <a href="#news" data-toggle="modal">Mostrar...</a>
</div>

<!-- Modal -->
<div id="news" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newsLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 id="newsLabel">Novedades</h4>
  </div>
  <div class="modal-body">
    <p>Aca se muestran las novedades del proyecto "Argentina en Python" usando su cuenta de Twitter:</p>
    <p><small>Si utilizas Adblock Plus, no se van a mostrar correctamente los Tweets. Podes ver esta misma actualizacion en la cuenta de Twitter de <a href="http://twitter.com/argenpython">@argenpython</a></small></p>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/argenpython" data-widget-id="502105953106272256">Tweets por @argenpython</a>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
