body {
    background-color: #eee;
    color: #333333;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 15.5px;
    line-height: 1.5em;
    margin: 0;
}


.tags > li {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

.tags > li a:hover {
    text-decoration: none;
}

header {
    margin-bottom: 25px;
}


hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 10px 0;
    margin: 20px 0;
}

hr.docutils {
    width: 100% !important;
}

header .subtitle {
    font-size: 25.02px;
    font-weight: 400;
    color: #999999;
}

.figure img {
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    padding: 4px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.badge {
    font-size: 15.5px;
    font-weight: normal;
    padding: 10px;
    margin: 2px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    padding: 4px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}

#map-container small {
    text-align: right;
}

#map-container h2 {
    text-align: center;
}

#map, #map-zero, #map-first, #map-second, #map-third {
    height: 350px;
    margin-top: 5px;
    margin-bottom: 15px;
}

cite {
    background-color: #ecf0f3;
    font-family: monospace,sans-serif;
    font-size: 96.5%;
}

div#content.container-fluid {
    background-color: #eee;
}

body div.span8 {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.row {
    margin-left: 10px !important;
}

h1, h2, h3 {
    line-height: 40px;
    font-family: "Bitter",sans-serif;
}

li {
    line-height: 1.5em !important;
}